apiVersion: v1
kind: Service
metadata:
  name: fx
  namespace: quetzalship
  labels:
    app: fx
    component: service
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
    name: http
  selector:
    app: fx
