apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
  labels:
    app: orders
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
        - name: orders
          image: rmiguel12/prac3-orders:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - name: grpc
              containerPort: 50053
          envFrom:
            - configMapRef:
                name: orders-config
            - secretRef:
                name: orders-secret
          readinessProbe:
            tcpSocket:
              port: 50053
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 50053
            initialDelaySeconds: 20
            periodSeconds: 10
