apiVersion: apps/v1
kind: Deployment
metadata:
  name: pricing
  labels:
    app: pricing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pricing
  template:
    metadata:
      labels:
        app: pricing
    spec:
      containers:
        - name: pricing
          image: rmiguel12/prac3-pricing:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - name: grpc
              containerPort: 50052
          readinessProbe:
            tcpSocket:
              port: 50052
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 50052
            initialDelaySeconds: 20
            periodSeconds: 10
