apiVersion: v1
kind: Service
metadata:
  name: pricing
  labels:
    app: pricing
spec:
  type: ClusterIP
  selector:
    app: pricing
  ports:
    - name: grpc
      port: 50052
      targetPort: 50052
