apiVersion: v1
kind: ConfigMap
metadata:
  name: locustfile
  namespace: sa
data:
  locustfile.py: |
    from locust import HttpUser, task, between
    import uuid

    class QuetzalShipUser(HttpUser):
        wait_time = between(1, 2)

        @task(3)
        def health(self):
            self.client.get("/api/health")

        @task(2)
        def fx_rate(self):
            with self.client.get("/api/fx/rate?base=USD&quote=GTQ", catch_response=True) as r:
                if r.status_code != 200:
                    r.failure(f"{r.status_code} -> {r.text[:300]}")

        @task(1)
        def create_order(self):
            payload = {
                "origin_zone": "ZONE_METRO",
                "destination_zone": "ZONE_INTERIOR",
                "service_type": "SERVICE_TYPE_STANDARD",
                "insurance_enabled": True,
                "packages": [
                    {
                        "weight_kg": 1.2,
                        "height_cm": 30,
                        "width_cm": 20,
                        "length_cm": 40,
                        "fragile": False,
                        "declared_value_q": 500
                    }
                ],
                "discount": {
                    "type": "DISCOUNT_TYPE_PERCENT",
                    "value": 10
                }
            }

            headers = {
                "Content-Type": "application/json",
                "idempotency-key": str(uuid.uuid4())
            }

            with self.client.post("/api/v1/orders", json=payload, headers=headers, catch_response=True) as r:
                if r.status_code != 201:
                    r.failure(f"{r.status_code} -> {r.text[:300]}")
